<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OMHBaseURL</key>
	<string>https://ohmagedev.ctsc.med.cornell.edu/dsu</string>
	<key>OMHClientID</key>
	<string>ancile_development_app</string>
	<key>OMHClientSecret</key>
	<string>PqPO8hzCTS1IfrZqZwJcXIFQMtcIJlGqAu4x6NLyl2a6lvZ959tWf0tl9V34tykn</string>
</dict>
</plist>
